@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "~antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

html,
body,
#root {
  min-width: 1100px;
  height: 100%;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Customize Select component from antdesign */
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: rgba(0, 0, 0, 0);
  box-shadow: #06d55455 0px 0px 0px 2px;
}

.ant-select-focused:not(.ant-select-disabled):hover.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #06d554;
  box-shadow: #06d55455 0px 0px 0px 2px;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #06d554;
}

.ant-select-dropdown {
  background-color: #191b1f;
}

.ant-select-item {
  color: #fff;
}

.ant-select-item-option-content {
  display: flex;
  align-items: center;
}

.ant-select-item-option-active.ant-select-item-option-active {
  background-color: #06d554;
  color: #fff;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #06d55444;
  color: #fff;
}

.ant-select-item-empty .ant-empty .ant-empty-description {
  color: #fff;
}

/* Customize InputNumber component from antdesign */
.ant-input-number:hover,
.ant-input-number:focus {
  border-color: #06d554;
}

.ant-input-number.ant-input-number-focused {
  box-shadow: #06d55455 0px 0px 0px 2px;
}

.ant-input-number-handler-wrap {
  background-color: #2c2f36;
  border: 1px solid #2c2f36;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ant-input-number-handler {
  background-color: #1f2128;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-input-number-handler-up {
  border-bottom-color: #2c2f36;
}

.ant-input-number-handler-down {
  border-top-color: #2c2f36;
}

.ant-input-number-handler > .anticon {
  color: #06d554;
}

/* Customize DatePicker */
.ant-picker:hover,
.ant-picker:focus {
  border-color: #06d554;
}

.ant-picker.ant-picker-focused {
  box-shadow: #06d55455 0px 0px 0px 2px;
}

.ant-picker-header,
.ant-picker-body,
.ant-picker-footer,
.ant-picker-panel-container {
  background-color: #191b1f;
}

.ant-picker-panel,
.ant-picker-header,
.ant-picker-body {
  border-bottom-color: #2c2f36;
}

.ant-picker-panel .ant-picker-footer {
  border-bottom-color: #2c2f36;
  border-top-color: #2c2f36;
}

.ant-picker-content th,
.ant-picker-header-view .ant-picker-month-btn,
.ant-picker-header-view .ant-picker-year-btn,
.ant-picker-header-view .ant-picker-header-super-prev-btn,
.ant-picker-super-prev-icon,
.ant-picker-prev-icon,
.ant-picker-super-next-icon,
.ant-picker-next-icon {
  color: #fff;
}

.ant-picker-content th {
  font-weight: bold;
  text-decoration: underline;
}

.ant-picker-header-view .ant-picker-month-btn:hover,
.ant-picker-header-view .ant-picker-year-btn:hover,
.ant-picker-header-view .ant-picker-header-super-prev-btn:hover,
.ant-picker-super-prev-icon:hover,
.ant-picker-prev-icon:hover,
.ant-picker-super-next-icon:hover,
.ant-picker-next-icon:hover {
  color: #06d554;
}

.ant-picker-cell-inner {
  color: #777;
}

.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
.ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
  .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  color: #fff;
  background: #06d554;
}

.ant-picker-cell-in-view .ant-picker-cell-inner {
  color: #fff;
}

.ant-picker-cell-disabled::before {
  background: #2c2f36;
}

.ant-picker-cell-disabled .ant-picker-cell-inner {
  color: #999;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #06d554;
}

.ant-picker-today-btn {
  color: #06d554;
}

/* Add padding to input fields */
.ant-input-number,
.ant-picker {
  padding: 0.25rem;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 38px;
  display: flex;
  align-items: center;
}

.ant-select:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search {
  display: flex;
  align-items: center;
}

.ant-picker input {
  padding: 0 11px;
}

.ant-picker-suffix {
  height: 30px;
  display: flex;
  align-items: center;
}

/* Form error styles */
.ant-form-item-has-error
  .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input)
  .ant-select-selector,
.ant-form-item-has-error .ant-input-number,
.ant-form-item-has-error .ant-picker {
  background-color: #191b1f;
}

.ant-form-item-has-error .ant-input-number:not([disabled]):hover,
.ant-form-item-has-error .ant-picker:not([disabled]):hover {
  background-color: #191b1f;
}
